<!DOCTYPE html>
<style>
    body {background-color: powderblue;}
    h1   {color: rgb(0, 81, 255);}
    p    {color: rgb(228, 176, 35);}
    
    </style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h1>
   KYLER's SPEED CIRCUIT
</h1>
<a href="https://github.com/kbknudsen/PyEIS" target="_blank">Derived from PyEIS</a>
<form action = "http://localhost:5000/upload">
    <p>In Development</p>
    <p><input type = "submit" value = "UPLOAD AN MPT FILE" /></p>
 </form>
</body>
</html>